<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='*.9em' font-size='90'%3E🔥%3C/text%3E%3C/svg%3E"
    type="image/svg+xml">
  <title>{{if .Title}}{{.Title}}{{else}}SQLITER{{end}}</title>
  {{if .Editable}}
  <meta name="sqliter-editable" content="true">
  {{end}}

  <!-- Custom Table Logic -->
  <style>{{.CSS}}</style>
</head>

<body>

  <table id="table">
    <thead>
      <tr id="edit-bar-row">
        <th colspan="100%">
          <!-- Edit Bar Content (Buttons etc injected via JS) -->
        </th>
      </tr>
      <tr>
        <th class="row-id-header" title="Toggle Edit Mode">✏️</th>
        {{ range .Headers}}
        <th data-sortable="true">{{ .}}</th>
        {{ end}}
      </tr>
    </thead>
    <tbody>
