<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Data</title>

  <!-- Theme CSS (includes Bootstrap and Overrides) -->
  <link href="/style1/stylesheet.css" rel="stylesheet">

  <!-- Bootstrap Table CSS -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">

  {{/*
  We need to be careful with Bootstrap Table's specific DOM manipulation.
  It might be better to just disable the plugin's attempts to manage scrolling if we want window scrolling.
  */}}
</head>

<body class="{{if .StickyHeader}}sticky-header{{end}}">

  <div class="container-fluid p-0">
    <table id="table" data-toggle="table" data-search="false" data-pagination="true" data-show-columns="false"
      data-page-size="1000" data-page-list="[100, 500, 1000, all]" data-sortable="true"
      data-classes="table table-sm table-hover table-striped mb-0 text-nowrap">
      <thead>
        <tr>
          {{ range .Headers}}
          <th data-sortable="true">{{ .}}</th>
          {{ end}}
        </tr>
      </thead>
      <tbody>