<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{if .Title}}{{.Title}}{{else}}SQLITER{{end}}</title>
  <style>
    body {
      font-family: sans-serif;
      padding: 20px;
    }

    h3 {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }

    .list-group {
      margin-top: 20px;
    }

    .list-group-item {
      display: block;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ddd;
      text-decoration: none;
      color: #333;
    }

    .list-group-item:hover {
      background-color: #f0f0f0;
    }
  </style>
</head>

<body>
  <div class="container" style="max-width: 800px;">
    <div class="list-group">